* 판다스 라이브러리 불러오기

In [160]:
import pandas as pd

* 데이터 불러오기

In [161]:
# 남북한발전전력량
df = pd.read_excel('../datafiles/dataFiles/남북한발전전력량.xlsx')
df

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [162]:
df.dtypes

전력량 (억㎾h)    object
발전 전력별       object
1990         object
1991         object
1992         object
1993         object
1994         object
1995         object
1996         object
1997         object
1998         object
1999         object
2000         object
2001         object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
dtype: object

In [163]:
df.iloc[1:5, 0].fillna("남한", inplace=True)
df.iloc[6:9, 0].fillna("북한", inplace=True)

In [164]:
df.iloc[4].replace("-", "0", inplace=True)
df.iloc[8].replace("-", "0", inplace=True)

In [165]:
df.loc[9] = 0

In [166]:
df.iloc[9, [0, 1]] = ['북한', '신재생']

In [167]:
df.iloc[:, 2:] = df.iloc[:, 2:].astype("float64")

In [168]:
df["평균"] = df.iloc[:, 2:].mean(axis=1)

In [169]:
print(df)

  전력량 (억㎾h) 발전 전력별    1990    1991    1992    1993    1994    1995    1996  \
0        남한     합계  1077.0  1186.0  1310.0  1444.0  1650.0  1847.0  2055.0
1        남한     수력    64.0    51.0    49.0    60.0    41.0    55.0    52.0
2        남한     화력   484.0   573.0   696.0   803.0  1022.0  1122.0  1264.0
3        남한    원자력   529.0   563.0   565.0   581.0   587.0   670.0   739.0
4        남한    신재생     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5        북한     합계   277.0   263.0   247.0   221.0   231.0   230.0   213.0
6        북한     수력   156.0   150.0   142.0   133.0   138.0   142.0   125.0
7        북한     화력   121.0   113.0   105.0    88.0    93.0    88.0    88.0
8        북한    원자력     0.0     0.0     0.0     0.0     0.0     0.0     0.0
9        북한    신재생     0.0     0.0     0.0     0.0     0.0     0.0     0.0

     1997  ...    2008    2009    2010    2011    2012    2013    2014  \
0  2244.0  ...  4224.0  4336.0  4747.0  4969.0  5096.0  5171.0  5220.0
1    54.0  ...    56.0    56.0    65.0    78.0    77.0    84.0    78.0
2  1420.0  ...  2658.0  2802.0  3196.0  3343.0  3430.0  3581.0  3427.0
3   771.0  ...  1510.0  1478.0  1486.0  1547.0  1503.0  1388.0  1564.0
4     0.0  ...     0.0     0.0     0.0     0.0    86.0   118.0   151.0
5   193.0  ...   255.0   235.0   237.0   211.0   215.0   221.0   216.0
6   107.0  ...   141.0   125.0   134.0   132.0   135.0   139.0   130.0
7    86.0  ...   114.0   110.0   103.0    79.0    80.0    82.0    86.0
8     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
9     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0

     2015    2016           평균
0  5281.0  5404.0  3278.629630
1    58.0    66.0    59.222222
2  3402.0  3523.0  2042.074074
3  1648.0  1620.0  1150.629630
4   173.0   195.0    26.777778
5   190.0   239.0   219.037037
6   100.0   128.0   126.222222
7    90.0   111.0    92.814815
8     0.0     0.0     0.000000
9     0.0     0.0     0.000000

[10 rows x 30 columns]