### Feature Scaling and Nomalization
#### ✔ StandardScaler
: 개별 피쳐를 평균이 0이고, 분산이 1인 값으로 변환

In [22]:
from sklearn.datasets import load_iris
import pandas as pd

In [23]:
iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data = iris_data, columns = iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [24]:
print(f'feature 들의 평균 값 :\n{iris_df.mean()}\n')
print(f'feature 들의 분산 값 :\n{iris_df.var()}')

feature 들의 평균 값 :
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

feature 들의 분산 값 :
sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [25]:
# Normalize each feature using "StandardScaler"
from sklearn.preprocessing import StandardScaler

In [26]:
# Create StandardScaler object
scaler = StandardScaler()

# Convert dataset using StandardScaler / fit() & transform()\
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

In [27]:
type(iris_scaled)

numpy.ndarray

In [28]:
# Convert "iris_scaled" (Numpy ndarray) to DataFrame
iris_df_scaled = pd.DataFrame(data = iris_scaled, columns = iris_df.columns)
iris_df_scaled

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.900681          1.019004          -1.340227         -1.315444
1            -1.143017         -0.131979          -1.340227         -1.315444
2            -1.385353          0.328414          -1.397064         -1.315444
3            -1.506521          0.098217          -1.283389         -1.315444
4            -1.021849          1.249201          -1.340227         -1.315444
..                 ...               ...                ...               ...
145           1.038005         -0.131979           0.819596          1.448832
146           0.553333         -1.282963           0.705921          0.922303
147           0.795669         -0.131979           0.819596          1.053935
148           0.432165          0.788808           0.933271          1.448832
149           0.068662         -0.131979           0.762758          0.790671

[150 rows x 4 columns]

In [29]:
print(f'feature 들의 평균 값 :\n{iris_df_scaled.mean()}\n')
print(f'feature 들의 분산 값 :\n{iris_df_scaled.var()}')

feature 들의 평균 값 :
sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64

feature 들의 분산 값 :
sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

#### 🔹 학습용 데이터 + 테스트용 데이터 준비

In [30]:
data = iris_df_scaled
data['target'] = iris.target

In [31]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,-0.900681,1.019004,-1.340227,-1.315444,0
1,-1.143017,-0.131979,-1.340227,-1.315444,0
2,-1.385353,0.328414,-1.397064,-1.315444,0
3,-1.506521,0.098217,-1.283389,-1.315444,0
4,-1.021849,1.249201,-1.340227,-1.315444,0
...,...,...,...,...,...
145,1.038005,-0.131979,0.819596,1.448832,2
146,0.553333,-1.282963,0.705921,0.922303,2
147,0.795669,-0.131979,0.819596,1.053935,2
148,0.432165,0.788808,0.933271,1.448832,2
149,0.068662,-0.131979,0.762758,0.790671,2

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, :4], data.iloc[:,-1], test_size = 0.2, random_state = 11)

#### 🔹학습 모델 생성

In [33]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9333333333333333

In [34]:
from sklearn.metrics import accuracy_score

y_pre = model.predict(X_test)
accuracy_score(y_test, y_pre)

0.9333333333333333

#### ✔ MinMaxScaler
: 데이터값을 0과 1사이의 범위 값으로 변환

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
# Create MinMaxScaler object
scaler = MinMaxScaler()

# Convert dataset using MinMaxScaler / fit() & transform()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

In [37]:
# Convert "iris_scaled" (Numpy ndarray) to DataFrame
iris_scaled = pd.DataFrame(data = iris_scaled, columns = iris.feature_names)
iris_scaled

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             0.222222          0.625000           0.067797          0.041667
1             0.166667          0.416667           0.067797          0.041667
2             0.111111          0.500000           0.050847          0.041667
3             0.083333          0.458333           0.084746          0.041667
4             0.194444          0.666667           0.067797          0.041667
..                 ...               ...                ...               ...
145           0.666667          0.416667           0.711864          0.916667
146           0.555556          0.208333           0.677966          0.750000
147           0.611111          0.416667           0.711864          0.791667
148           0.527778          0.583333           0.745763          0.916667
149           0.444444          0.416667           0.694915          0.708333

[150 rows x 4 columns]

In [38]:
print(f'feature들의 최솟값 :\n{iris_scaled.min()}\n')
print(f'feature들의 최댓값 :\n{iris_scaled.max()}')

feature들의 최솟값 :
sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64

feature들의 최댓값 :
sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64

In [39]:
data2 = iris_scaled
data2['target'] = iris.target
data2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,0.222222,0.625000,0.067797,0.041667,0
1,0.166667,0.416667,0.067797,0.041667,0
2,0.111111,0.500000,0.050847,0.041667,0
3,0.083333,0.458333,0.084746,0.041667,0
4,0.194444,0.666667,0.067797,0.041667,0
...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,2
146,0.555556,0.208333,0.677966,0.750000,2
147,0.611111,0.416667,0.711864,0.791667,2
148,0.527778,0.583333,0.745763,0.916667,2
149,0.444444,0.416667,0.694915,0.708333,2

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data2.iloc[:, :4], data2.iloc[:,-1], test_size = 0.2, random_state = 11)

In [41]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8666666666666667

In [42]:
from sklearn.metrics import accuracy_score

y_pre = model.predict(X_test)
accuracy_score(y_test, y_pre)

0.8666666666666667